* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

   body {
    background: #0f172a;
    color: white;
    line-height: 1.6;
    padding-top: 80px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background: #111827;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #38bdf8;
}

.hero {
    text-align: center;
    padding: 100px 20px;
}

.hero h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: #38bdf8;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}

.btn:hover {
    background: white;
}

.section {
    padding: 60px 20px;
    text-align: center;
}

.light {
    background: #1e293b;
}

.project-card {
    background: #111827;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #111827;
}

