* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #0f172a;
    color: white;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background: #1e293b;
    position: sticky;
    top: 0;
}

.logo {
    color: #38bdf8;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #38bdf8;
}

/* HERO */
.hero {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.hero h1 {
    font-size: 3rem;
}

.hero p {
    margin: 20px 0;
    font-size: 1.2rem;
}

.btn {
    padding: 10px 20px;
    background: #38bdf8;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}

.btn:hover {
    background: white;
}

/* SECTIONS */
.section {
    padding: 80px 10%;
    text-align: center;
}

.projects-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
    flex-wrap: wrap;
}

.project-card {
    background: #1e293b;
    padding: 30px;
    border-radius: 10px;
    width: 250px;
    transition: 0.3s;
}

.project-card:hover {
    transform: translateY(-10px);
    background: #334155;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #1e293b;
    margin-top: 40px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        gap: 10px;
    }

    .hero h1 {
        font-size: 2rem;
    }
}
